%h1= @title
%div{ id: "react-root"}
-# %form#video-form{ :action => "/door/state", :method => "post", :enctype => "multipart/form-data" }
-#   %div{ id: "react-root"}
  -# %input{ type: "checkbox", "data-toggle" => "toggle", "data-on" => "Open", "data-off" => "Closed"}
